@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  line-height: 1;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.home {
  background-image: url("./images/home-background.svg");
  z-index: 1;
}

.signup,
.login {
  margin: 85px auto;
  z-index: 1;
  background-image: url("./images/login-background.svg");
}
